https://www.kaggle.com/c/open-shopee-code-league-logistic

Task: 偵測包裹是否延誤

第一次送貨不成功，會進行第二次送貨
第二次送貨不能超過3天
時間格式：UTC + 8
工作日：Monday ~ Saturday
Day 0 = Day of Pickup; Day 1 = Next Day after Pickup
公定假日：
    2020-03-08
    2020-03-25
    2020-03-30
    2020-03-31
SLA:
|                |  Metro Manila  |      Luzon     |     Visayas    |    Mindanao    |
| -------------- | -------------- | -------------- | -------------- | -------------- |
|  Metro Manila  | 3 working days | 5 working days | 7 working days | 7 working days |
|      Luzon     | 5 working days | 5 working days | 7 working days | 7 working days |
|     Visayas    | 7 working days | 7 working days | 7 working days | 7 working days |
|    Mindanao    | 7 working days | 7 working days | 7 working days | 7 working days |

Steps:
1. 算出第一次及第二次運貨時間
2. 算出每個地點的標準送貨時間
3. 比較出是否有延誤

In [2]:
import pandas as pd
from datetime import datetime, timedelta

#1 把delivery_orders_march.csv讀進來

In [4]:
df = pd.read_csv('delivery_orders_march.csv')

In [5]:
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

#2 取出 pick 的第一個欄位
   利用 pd.Timestamp() 把 pick 轉換成人看得懂的時間

In [8]:
df['pick'][0]

1583138397

In [9]:
pd.Timestamp(df['pick'][0], unit='s')

Timestamp('2020-03-02 08:39:57')

#3 取出 pick 的第一個欄位
   利用 pd.Timestamp() 把 pick 欄位轉成人看得懂的時間
   並且把時間轉換成新加坡時間

In [10]:
pd.Timestamp(df['pick'][0], unit='s' , tz='Asia/Singapore')

Timestamp('2020-03-02 16:39:57+0800', tz='Asia/Singapore')

In [11]:
pd.Timestamp(df['pick'][0], unit='s') + timedelta(hours=8)

Timestamp('2020-03-02 16:39:57')

#4 取出 pick 的第一個欄位
   利用 pd.Timestamp() 把 pick 欄位轉成人看得懂的時間
   並且把時間轉換成新加坡時間
   只取日期出來

In [12]:
pd.Timestamp(df['pick'][0], unit='s' , tz='Asia/Singapore').date()

datetime.date(2020, 3, 2)

#5 把第4題的結果套用在整個 pick 欄位 並存在新的 pick_date 欄位

In [16]:
df['pick_date'] = df['pick'].apply(lambda x: pd.Timestamp(x, unit='s' , tz='Asia/Singapore').date())

In [17]:
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04

#6 針對 1st_deliver_attempt, 2nd_deliver_attempt 也轉換成日期 並存在新的 first_date, second_date 欄位 （參考第5題）

In [18]:
df['first_date'] = df['1st_deliver_attempt'].apply(lambda x: pd.Timestamp(x, unit='s' , tz='Asia/Singapore').date())

In [19]:
df['second_date'] = df['2nd_deliver_attempt'].apply(lambda x: pd.Timestamp(x, unit='s' , tz='Asia/Singapore').date())

In [20]:
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT

#7 以list的型態列出所有的非工作日
   日期要以日期型態表示

In [21]:
holidays = ['2020-03-08',
           '2020-03-15',
           '2020-03-22',
           '2020-03-25',
           '2020-03-29',
           '2020-03-30',
           '2020-03-31',
           '2020-04-05']

h_days = [datetime.strptime(i, '%Y-%m-%d').date() for i in holidays]

In [22]:
h_days

[datetime.date(2020, 3, 8),
 datetime.date(2020, 3, 15),
 datetime.date(2020, 3, 22),
 datetime.date(2020, 3, 25),
 datetime.date(2020, 3, 29),
 datetime.date(2020, 3, 30),
 datetime.date(2020, 3, 31),
 datetime.date(2020, 4, 5)]

#8 取出其中一個非工作日的日期
   並用這個日期找出取貨日 pick_date 到第一次送貨的日期 first_date 中有出現這個日期的資料
   提示：利用 loc 做判斷

In [23]:
h_days[1]

datetime.date(2020, 3, 15)

In [26]:
df.loc[(df['pick_date'] <= h_days[1]) & (df['first_date'] >= h_days[1]), :]

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date
176,2228636068,1583128038,1.584679e+09,1.586244e+09,333-10PA 091-15 asyong BENETES st.dalig IRRIGA...,"Classics, Ciudad B-37 Ext., 128C 671 2B54-55 T...",2020-03-02,2020-03-20,2020-04-07
177,2228647003,1583301945,1.584338e+09,1.584525e+09,MAHUGO AEROSTAR 213-R1 P.J.Burgos 33-w Datagan...,Redgold 1739A E30 asuncion #5 274-D 0915072255...,2020-03-04,2020-03-16,2020-03-18
179,2228655368,1583405962,1.584606e+09,1.584896e+09,Fornilda 99-B Alkalde 1002H Cabangila employee...,"t Cendaña DOOR, Offices st,Pasay rositaville Z...",2020-03-05,2020-03-19,2020-03-23
267,2229099066,1583314134,1.584599e+09,NaN,"wall), BLDG.12, 129-1 (LANDMARK:NEAR Mandaue(b...","kaligayahan bldg. 145,Pasay E26 1R-02-04 411A,...",2020-03-04,2020-03-19,NaT
280,2229189393,1583394946,1.584325e+09,NaN,"escano st.dgat residence(Near 398,sitio JBOY 2...",Adelanto Halcon Coating 608 864X Unit607 Cente...,2020-03-05,2020-03-16,NaT
...,...,...,...,...,...,...,...,...,...
3171796,2332961070,1584165804,1.584334e+09,NaN,"Road,Granada buildinv Communal,buhangin silcas...",Crispln 1G07-08 Principe O.M. Gawad cityplaza ...,2020-03-14,2020-03-16,NaT
3171824,2333158414,1584149600,1.584775e+09,NaN,"btq. aguho,Daanbantayan,Cebu SMART avenue,brgy...",276-B 2057 BRIDGE (Go Banjar recto Aries Metro...,2020-03-14,2020-03-21,NaT
3171830,2333183880,1584178490,1.584587e+09,NaN,"brgqy 203B. ADI Dist2, Luzon",AOO2 Sobrepeña Marquez Chinabank Reymundo BIdg...,2020-03-14,2020-03-19,NaT
3171851,2333301517,1584184497,1.584950e+09,1.585267e+09,"DTI-Camiguin Sait #130m.h BLK.12lot Fₗₒₒᵣ, ave...",hours: Balarao 566a Alta super8 Makaturing Rd ...,2020-03-14,2020-03-23,2020-03-27
3171865,2333445855,1584185522,1.584598e+09,1.584928e+09,ting COMP.GORORDO Mohawk B6L12 sopie broadcast...,lagdameo alcaceria K6th 7051 SF61 1038 Barbers...,2020-03-14,2020-03-19,2020-03-23

#9 利用迴圈的方式找出：
   1. 取貨日～第一次送貨日當中出現過非工作日的天數，並存成新的欄位 h_first
   2. 第一次送貨日～第二次送貨日當中出現過非工作日的天數，並存成新的欄位 h_second

In [27]:
df['h_first'] = 0
df['h_second'] = 0

for i in h_days:
    df.loc[(df['pick_date'] <= i) & (df['first_date'] >= i), 'h_first'] += 1
    df.loc[(df['first_date'] <= i) & (df['second_date'] >= i), 'h_second'] += 1

In [28]:
h_days

[datetime.date(2020, 3, 8),
 datetime.date(2020, 3, 15),
 datetime.date(2020, 3, 22),
 datetime.date(2020, 3, 25),
 datetime.date(2020, 3, 29),
 datetime.date(2020, 3, 30),
 datetime.date(2020, 3, 31),
 datetime.date(2020, 4, 5)]

In [29]:
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0,0
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0,1
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0,0
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0,0
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT,0,0

#10 把 h_first, h_second 變成天數型態

In [30]:
timedelta(days=1)

datetime.timedelta(days=1)

In [31]:
df['h_first'] = df['h_first'].apply(lambda x: timedelta(days=x))

In [32]:
df['h_second'] = df['h_second'].apply(lambda x: timedelta(days=x))

In [33]:
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT,0 days,0 days

#11 找出第一次 pick_date 以及第二次 first_date 的運送天數，並扣掉當中的非工作日

In [34]:
df['final_first'] = df['first_date'] - df['pick_date'] - df['h_first']
df['final_second'] = df['second_date'] - df['first_date'] - df['h_second']

In [35]:
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days,2 days,NaT
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT

#12 找出買家及賣家居住城市，並存成新欄位 b_add, s_add

In [37]:
[i for i in df['buyeraddress'][:5]]

['Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,cordova,cebu Mt.VERNON Buolding, Habagat Lordman NATL Metro Manila',
 "coloma's quzom CASANAS Site1 Masiyan 533A Stolberge 10,Baloy eastt away 041banahaw street,Tuguegarao agro, Metro Manila",
 '21-O LumangDaan,Capitangan,Abucay,Bataan .Bignay Office,Buhanginan saBrgy186, 34i (bayanihan MALARIA, Alindahaw, Rm401, st.ngry p.pasubas metro manila',
 '616Espiritu MARTINVILLE,MANUYO #5paraiso kengi 12nn-9pm Brgy,Milagrosa 6Putohan,Tramo #18saint вєrnαвє st,CAA Metro Manila',
 'L042 Summerbreezee1 L2(Balanay analyn Lot760 Cluster3-2T seppina UPPERG/L luzon']

In [38]:
df['b_add'] = df['buyeraddress'].apply(lambda x: x.split(' ')[-1])
df['s_add'] = df['selleraddress'].apply(lambda x: x.split(' ')[-1])

In [40]:
df.head(3)

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT,Manila,Manila
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days,Manila,Manila
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,manila,Manila

#13 利用 loc 以及 str.contains 找出 b_add 有 Manila 或是 manila 的資料

In [41]:
df.loc[df['b_add'].str.contains('manila|Manila'), :]

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT,Manila,Manila
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days,Manila,Manila
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,manila,Manila
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days,2 days,NaT,Manila,Manila
5,2222597288,1583328320,1.583567e+09,NaN,C-846 park&shop opens Valeda/Sunrise) CompuWar...,33 sta.mesa 1929 hawthorn Metro Manila,2020-03-04,2020-03-07,NaT,0 days,0 days,3 days,NaT,Manila,Manila
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3176305,31502339045455,1585918515,1.586230e+09,NaN,"Napolan. Auther 1,digos 3323-24, 1-LL Consorti...","62, 2D (atm 462A Arkong Metro Manila",2020-04-03,2020-04-07,NaT,1 days,0 days,3 days,NaT,Manila,Manila
3176307,31503788156046,1585886946,1.585974e+09,NaN,"sweetberry Ecija(Mercury Cailin matabao,Buenav...",proper. Alavarado Bl-10 #3030 tarpaulin) 1115 ...,2020-04-03,2020-04-04,NaT,0 days,0 days,1 days,NaT,Manila,Manila
3176308,31504087640510,1585821728,1.585978e+09,NaN,"mayapis. edeliza JC274 5542 brgy.Dita, Metro M...",Intimate St) compound. Sekiat 2B8 98-B Mel far...,2020-04-02,2020-04-04,NaT,0 days,0 days,2 days,NaT,Manila,Manila
3176309,31504147352227,1585895011,1.586179e+09,1.586232e+09,"Superdome PORKY K307 Libertad, PCGCC sub.bagui...","13th 3616 Pilipinas, :1v26 1f-5 (Village) bl10...",2020-04-03,2020-04-06,2020-04-07,1 days,0 days,2 days,1 days,Manila,Manila
3176310,31504462290482,1585826951,1.585965e+09,NaN,Galay's 1republic 333-18 Diliman 74d Malbay fe...,"Lane, 379B 1739A Ivc AFPFC Cainta, Waterpark, ...",2020-04-02,2020-04-04,NaT,0 days,0 days,2 days,NaT,Manila,Manila

#14 利用 loc 以及 str.contains 找出 b_add 有 Manila 或是 manila 的資料
    把以上查詢到的資料變成同一的名稱 Metro Manila，並存在新的欄位 b_city

In [50]:
df.loc[df['b_add'].str.contains('manila|Manila'), 'b_city'] = 'Metro Manila'

In [43]:
df.head(1)

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add,b_city
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT,Manila,Manila,Metro Manila

#15 針對其他三個城市也做跟第14題一樣的動作

In [51]:
df.loc[df['b_add'].str.contains('luzon|Luzon'), 'b_city'] = 'Luzon'
df.loc[df['b_add'].str.contains('visayas|Visayas'), 'b_city'] = 'Visayas'
df.loc[df['b_add'].str.contains('mindanao|Mindanao'), 'b_city'] = 'Mindanao'

#16 針對賣家也做跟第14,15題一樣的動作，並把結果存在 s_city

In [49]:
df.loc[df['s_add'].str.contains('manila|Manila'), 's_city'] = 'Metro Manila'
df.loc[df['s_add'].str.contains('luzon|Luzon'), 's_city'] = 'Luzon'
df.loc[df['s_add'].str.contains('visayas|Visayas'), 's_city'] = 'Visayas'
df.loc[df['s_add'].str.contains('mindanao|Mindanao'), 's_city'] = 'Mindanao'

|                |  Metro Manila  |      Luzon     |     Visayas    |    Mindanao    |
| -------------- | -------------- | -------------- | -------------- | -------------- |
|  Metro Manila  | 3 working days | 5 working days | 7 working days | 7 working days |
|      Luzon     | 5 working days | 5 working days | 7 working days | 7 working days |
|     Visayas    | 7 working days | 7 working days | 7 working days | 7 working days |
|    Mindanao    | 7 working days | 7 working days | 7 working days | 7 working days |

#17 新增一個欄位 sla
    並讓他等於：7天

In [46]:
df['sla'] = timedelta(days=7)

In [47]:
df.head(3)

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add,b_city,sla
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT,Manila,Manila,Metro Manila,7 days
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days,Manila,Manila,Metro Manila,7 days
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,manila,Manila,Metro Manila,7 days

#18 利用 loc 找出 b_city = 'Metro Manila' & s_city = 'Metro Manila

In [52]:
df.loc[(df['b_city'] == 'Metro Manila') & (df['s_city'] == 'Metro Manila'), :]

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add,b_city,sla,s_city
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT,Manila,Manila,Metro Manila,7 days,Metro Manila
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days,Manila,Manila,Metro Manila,7 days,Metro Manila
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,manila,Manila,Metro Manila,7 days,Metro Manila
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila,7 days,Metro Manila
5,2222597288,1583328320,1.583567e+09,NaN,C-846 park&shop opens Valeda/Sunrise) CompuWar...,33 sta.mesa 1929 hawthorn Metro Manila,2020-03-04,2020-03-07,NaT,0 days,0 days,3 days,NaT,Manila,Manila,Metro Manila,7 days,Metro Manila
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3176305,31502339045455,1585918515,1.586230e+09,NaN,"Napolan. Auther 1,digos 3323-24, 1-LL Consorti...","62, 2D (atm 462A Arkong Metro Manila",2020-04-03,2020-04-07,NaT,1 days,0 days,3 days,NaT,Manila,Manila,Metro Manila,7 days,Metro Manila
3176307,31503788156046,1585886946,1.585974e+09,NaN,"sweetberry Ecija(Mercury Cailin matabao,Buenav...",proper. Alavarado Bl-10 #3030 tarpaulin) 1115 ...,2020-04-03,2020-04-04,NaT,0 days,0 days,1 days,NaT,Manila,Manila,Metro Manila,7 days,Metro Manila
3176308,31504087640510,1585821728,1.585978e+09,NaN,"mayapis. edeliza JC274 5542 brgy.Dita, Metro M...",Intimate St) compound. Sekiat 2B8 98-B Mel far...,2020-04-02,2020-04-04,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila,7 days,Metro Manila
3176309,31504147352227,1585895011,1.586179e+09,1.586232e+09,"Superdome PORKY K307 Libertad, PCGCC sub.bagui...","13th 3616 Pilipinas, :1v26 1f-5 (Village) bl10...",2020-04-03,2020-04-06,2020-04-07,1 days,0 days,2 days,1 days,Manila,Manila,Metro Manila,7 days,Metro Manila
3176310,31504462290482,1585826951,1.585965e+09,NaN,Galay's 1republic 333-18 Diliman 74d Malbay fe...,"Lane, 379B 1739A Ivc AFPFC Cainta, Waterpark, ...",2020-04-02,2020-04-04,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila,7 days,Metro Manila

#19 利用 loc 找出 b_city = 'Metro Manila' & s_city = 'Metro Manila
    把以上查詢到的資料存成 3天，並覆蓋 sla

In [54]:
df.loc[(df['b_city'] == 'Metro Manila') & (df['s_city'] == 'Metro Manila'), 'sla'] = timedelta(days=3)

#20 找出 sla 等於5天的城市，並且覆蓋sla

|                |  Metro Manila  |      Luzon     |     Visayas    |    Mindanao    |
| -------------- | -------------- | -------------- | -------------- | -------------- |
|  Metro Manila  | 3 working days | 5 working days | 7 working days | 7 working days |
|      Luzon     | 5 working days | 5 working days | 7 working days | 7 working days |
|     Visayas    | 7 working days | 7 working days | 7 working days | 7 working days |
|    Mindanao    | 7 working days | 7 working days | 7 working days | 7 working days |

In [56]:
df.loc[(df['b_city'] == 'Luzon') & (df['s_city'] == 'Metro Manila'), 'sla'] = timedelta(days=5)
df.loc[(df['b_city'] == 'Luzon') & (df['s_city'] == 'Luzon'), 'sla'] = timedelta(days=5)
df.loc[(df['b_city'] == 'Metro Manila') & (df['s_city'] == 'Lzaon'), 'sla'] = timedelta(days=5)

In [57]:
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pick_date,first_date,second_date,h_first,h_second,final_first,final_second,b_add,s_add,b_city,sla,s_city
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,NaT,0 days,0 days,3 days,NaT,Manila,Manila,Metro Manila,3 days,Metro Manila
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,0 days,1 days,2 days,3 days,Manila,Manila,Metro Manila,3 days,Metro Manila
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,manila,Manila,Metro Manila,3 days,Metro Manila
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,NaT,0 days,0 days,2 days,NaT,Manila,Manila,Metro Manila,3 days,Metro Manila
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,NaT,0 days,0 days,2 days,NaT,luzon,Manila,Luzon,5 days,Metro Manila

#21 找出一下欄位 'orderid', 'final_first', 'final_second', 'sla'
    把結果存成 final_data

In [58]:
final_data = df[['orderid', 'final_first', 'final_second', 'sla']]

In [59]:
final_data

                orderid final_first final_second    sla
0            2215676524      3 days          NaT 3 days
1            2219624609      2 days       3 days 3 days
2            2220979489      2 days          NaT 3 days
3            2221066352      2 days          NaT 3 days
4            2222478803      2 days          NaT 5 days
...                 ...         ...          ...    ...
3176308  31504087640510      2 days          NaT 3 days
3176309  31504147352227      2 days       1 days 3 days
3176310  31504462290482      2 days          NaT 3 days
3176311  31504851495943      3 days          NaT 5 days
3176312  31505199116340      3 days       1 days 5 days

[3176313 rows x 4 columns]

#22 在 final_data 新增一個欄位 is_late
    並讓他等於0

In [61]:
final_data['is_late'] = 0

<ipython-input-61-ba8a2d4abc07>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['is_late'] = 0

#23 找出 final_first > sla
    只呈現 is_late 欄位

#24 找出 final_first > sla
    只呈現 is_late 欄位
    並將 is_late 欄位等於1

In [63]:
final_data.loc[final_data['final_first'] > final_data['sla'], 'is_late'] = 1

C:\Users\Tibame_T14\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [64]:
final_data[:20]

       orderid final_first final_second    sla  is_late
0   2215676524      3 days          NaT 3 days        0
1   2219624609      2 days       3 days 3 days        0
2   2220979489      2 days          NaT 3 days        0
3   2221066352      2 days          NaT 3 days        0
4   2222478803      2 days          NaT 5 days        0
5   2222597288      3 days          NaT 3 days        0
6   2222738456      3 days       3 days 3 days        0
7   2224695304      7 days          NaT 3 days        1
8   2224704587      1 days       3 days 5 days        0
9   2225138267      5 days          NaT 7 days        0
10  2225861241      2 days          NaT 3 days        0
11  2226935316      3 days          NaT 5 days        0
12  2226951056      2 days          NaT 3 days        0
13  2227381103      3 days          NaT 5 days        0
14  2227760598      5 days          NaT 7 days        0
15  2227768858      2 days          NaT 3 days        0
16  2227771109      2 days       1 days 3 days        0
17  2227783105      3 days       2 days 3 days        0
18  2227783217      3 days          NaT 3 days        0
19  2227790841      7 days       7 days 7 days        0

#25 找出 final_second > 3天
    只呈現 is_late 欄位

In [70]:
final_data.loc[final_data['final_second'] > timedelta(days=3), 'is_late']

19         0
71         0
99         0
104        1
134        0
          ..
3174691    0
3174925    0
3174937    0
3175085    0
3175135    0
Name: is_late, Length: 345629, dtype: int64

#26 找出 final_second > 3天
    只呈現 is_late 欄位
    並將 is_late 欄位等於1

In [72]:
final_data.loc[final_data['final_second'] > timedelta(days=3), 'is_late']=1

C:\Users\Tibame_T14\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

#27 從 final_data 裡取出 'orderid', 'is_late'

In [68]:
final_data[['orderid', 'is_late']]

                orderid  is_late
0            2215676524        0
1            2219624609        0
2            2220979489        0
3            2221066352        0
4            2222478803        0
...                 ...      ...
3176308  31504087640510        0
3176309  31504147352227        0
3176310  31504462290482        0
3176311  31504851495943        0
3176312  31505199116340        0

[3176313 rows x 2 columns]

#28 將26題存成csv檔
    記得不要輸出 index 欄位

In [73]:
final_data[['orderid', 'is_late']].to_csv('submit.csv', index=False)